<div>
  <app-banner-buttons [headerText]="headerText" [showButtons]="showTable$" [headerTypePassed]="headerTypePassed"
    (colorSelected)="OnColorSelected($event)" (buttonSelected)="onButtonToggleSelected($event)"></app-banner-buttons>
  <div *ngIf="showTable$">
    <div *ngIf="showDetail">
      <app-extruder-summary [headerColor]="headerColor"></app-extruder-summary>
    </div>
    <div *ngIf="showMenu">
      <app-extruder-all-data [headerColor]="headerColor"></app-extruder-all-data>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>