


<div class="parent">
    <div class="child">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Green</mat-card-title>
              <mat-card-subtitle>Total Length: 3000</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>87 inch ,  <b>Length: 3435</b></p>
              <p>89 inch ,  <b>Length: 3435</b></p>
              <p>93 inch ,  <b>Length: 0</b></p>
              <p>95 inch ,  <b>Length: 777</b></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-fab extended class="black" aria-label="Example icon button with a home icon">
                    <mat-icon>filter_list</mat-icon><span class="small-text">black</span>
                  </button>
                  <button mat-fab extended class="blue" aria-label="Example icon button with a home icon">
                    <mat-icon>filter_list</mat-icon><span class="small-text">blue</span>
                  </button>
                  <button mat-fab extended class="green" aria-label="Example icon button with a home icon">
                    <mat-icon>filter_list</mat-icon><span class="small-text">green</span>                 
                  </button>
                  <button mat-fab extended class="purple" aria-label="Example icon button with a home icon">
                    <mat-icon>filter_list</mat-icon><span class="small-text">purple</span>
                  </button>
                  <button mat-fab extended class="yellow" aria-label="Example icon button with a home icon">
                    <mat-icon>filter_list</mat-icon><span class="small-text">yellow</span>
                  </button>                 
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<router-outlet></router-outlet>