<div>
  <app-banner-buttons [headerText]="headerText" 
  [showButtons]="showTable$" [headerTypePassed]="headerTypePassed"
    (colorSelected)="OnColorSelected($event)" (buttonSelected)="onButtonToggleSelected($event)"></app-banner-buttons>
  <div *ngIf="showTable$">
    <div *ngIf="showDetail">
      <app-display-crossply [headerColor]="headerColor"></app-display-crossply>
    </div>
    <div *ngIf="showMenu">
      <app-crossply-detail [headerColor]="headerColor"></app-crossply-detail>
    </div>
  </div> 
</div>
