.footer-container {
    margin-top:2rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:bisque;
    left:0;
    bottom:0;
    width: 100%;
}

//#region "bannerbuttons"
.banner-button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $color-6;
  padding:0.2rem;
}
.button-container-headerText {
  padding-top:0.2rem;
  margin-left: 1rem;
  padding-left:1rem;
}
.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.grid-button-container {
  margin-right: 2rem;
}
.common-button-container > button {
  margin-right: 1.2rem;
}
.first-button {
  background-color: #f2e2a9;
  color:#000;
}
.second-button{
  background-color: #ffd740;
  color: #000;
}
//#endregion "bannerbuttons"

.pageHeader {
    border-radius: $x-small;
    height: $large;
    padding-top:$x-small;
    &extruderStyle {
        @extend .pageHeader;
        background-image: linear-gradient(195deg, $color-0, $color-4);
      }
    &laminationStyle {
        @extend .pageHeader;
        background-image: linear-gradient(195deg, $color-1, $color-4);   
    }
    &crossPlyStyle {
        @extend .pageHeader;
        background-image: linear-gradient(195deg, $color-2, $color-4);   
    }
    &dashboardStyle{
        @extend .pageHeader;
        background-image: linear-gradient(195deg, $color-3, $color-4);  
    }    
}

.pageHeaderTextStyle {
    font-size: $large;
    padding-left: $default-2;
}
// #region "Extruder Home Page"
.tableDisplay{
    background-color: $table-container-background;
    padding-left: $default-1;
    padding-bottom: $default-1;
}

.extruder-summary-container {
    width: 100%;
    margin-bottom: $medium;
    margin-left: $medium;
}

.extruder-summary-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color:$summary-header-background-color;
}

.extruder-summary-header-text{
  padding-top:$x-small;
}

.extruder-summary-button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:flex-end;
    justify-items: flex-end;
    justify-content: flex-end;
}

.extruder-summary-button-container button {
    margin-right: $large;
    margin-bottom: $small;
}

.extruder-column-color-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 80px;
    justify-content: space-around;
    justify-items: center;
}

.extruder-col-headerStyle{
    padding-top:$medium;
    font-size: x-large;
}

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: $table-hover-background-color;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: $table-active-background-color; 
  }
  
  .example-element-row td {
    border-bottom-width: 0;   
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    margin-top:$medium;
  }
  
  
//#endregion "Extruder Home Page"

//#region "Add Crossply"


.parent-flex-center-child {
  display: flex;
  justify-content: center;
}
.add-crossply-container {    
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;   
  max-width: 800px;
  justify-content: center;  
  background-color: $add-crossply-container-background-color;
  box-shadow: $add-crossply-box-shadow; 
}
.add-header {
  background-color: $summary-header-background-color;
  text-align: center;
  padding-top:$small;
  width: 100%;
  
}
.crossply-container {
  padding-top:$small;
  background-color: $add-crossply-container-background-color;
  width:100%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;    
}
.crossply-submit-createdBy{ 
  display: flex;
  flex-direction: row;    
  flex-wrap: nowrap;
  justify-content: space-around; 
  margin-left:1rem;
  margin-right:1rem;
}
.crossplySubmittedBy{  
  min-width: 450px;
  width: 50%;
}
.crossplyComment{   
  flex-grow:0.8;
  padding-right:1rem;
}
.extruder-container {   
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-evenly; 
  width: 100%;  
}
.colorzeroninety-container {
  background-color:$color-0;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: $add-crossply-box-shadow;  
 
}
.colorzeroninety-container:nth-child(1){
  background-color: $color-3;  
  border-right: solid 2px gray; 
}
.colorzero-color-width{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.crossply-field-small {
  max-width: 180px;
}
.add-crossply-btn{    
  margin-right:20px;
  margin-left: 20px;
}
.add-crossply-btn:nth-child(2){
  background-color: #84A98C; 
}
.crossply-rollnumber {
  margin-top:1rem;
  margin-right:20px;
  margin-left: 20px;
}
.crossply-buttons{
  min-height: 100px;
  margin-top: 1rem;
  width:100%;
}
.btn-submit-style {
  width: 400px;
  margin-left: 1rem;
}
.iconStyle{
  font-size: 1.2rem;
  color:red;
}

.crossply-buttons-container{
  margin-top:1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-bottom: 1rem;
  max-width: fit-content;
  margin-left: 1rem;
}
//#endregion "Add Crossply"