$color-0: #84A98C;
$color-1: #3C4A3F;
$color-2: #9EAFA2;
$color-3: #6CABA8;
$color-4: #377774;

$home: $color-0;
$dashboard: $color-1;
$extruder: $color-2;
$crossply: $color-3;
$lamination: $color-4;

$gradient-primary: #3C4A3F;
$gradient-primary-text: #fff;
$gradient-secondary: #F2D174;
$gradient-tertiary: #B89B41;
$gradient-final: #7F6807;

$small: 0.8rem;
$medium: 1rem;
$large: 2rem;
$x-large: 3rem;
$xx-large: 4rem;

$default-1: 1%;
$default-2: 2%;

$table-container-background:#eef;
$table-hover-background-color: whitesmoke;
$table-active-background-color:#efefef; 

$summary-header-background-color: #FCFAEA;