<div class="add-lamination-parent-container">
    <div class="add-lamination-form-container">
        <div class="add-lamination-header">
            <h1>Add Lamination</h1>
        </div>
        <div class="add-lamination-form-body">
            <form (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="addLaminationFormGroup">
                <div class="lamination-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Location</mat-label>
                        <mat-select formControlName="laminationLocationId" placeholder="Select Lamination Location" required>
                            <mat-option *ngFor="let location of laminationLocationList"
                            value="{{location.id}}">{{location.name}}</mat-option>                         
                        </mat-select>
                    </mat-form-field>                  
                    <mat-form-field>
                        <mat-label>Reference Number</mat-label>
                        <input matInput formControlName="laminationReferenceNumber">
                    </mat-form-field>                  
                    <mat-form-field class="laminationSubmittedBy">
                        <mat-label>Submitted By</mat-label>
                        <mat-select formControlName="laminationSubmittedBy" required>
                            <mat-option *ngFor="let user of userList" value={{user.id}}>{{user.firstname}}
                                {{user.lastname}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="lamination-comment-container">
                    <mat-form-field class="laminationComment">
                        <mat-label>Leave a comment</mat-label>
                        <textarea #comments rows="2" formControlName="laminationComment" matInput
                            placeholder="..."></textarea>
                        <mat-hint align="end">{{comments.value.length}}/500</mat-hint>
                    </mat-form-field>
                </div>
                <div class="add-extruder-crossply-buttons">
                    <button type="button" mat-raised-button color="accent" (click)="addExtruder()">Add Extruder (max of
                        5)</button>
                    <button type="button" mat-raised-button color="warn" (click)="removeExtruder()">Remove
                        Extruder</button>
                    <button type="button" mat-raised-button color="primary" (click)="addCrossply()">Add Crossply</button>
                    <button type="button" mat-raised-button color="warn" (click)="removeCrossply()">Remove
                        Crossply</button>
                    <button type="button" mat-raised-button color="accent" (click)="addMisc()">Add Misc</button>
                    <button type="button" mat-raised-button color="warn" (click)="removeMisc()">Remove
                            Misc</button>
                </div>
                <div class="child-container-extruder child-container-extruder-color">
                    <ng-container formArrayName="extruderList">
                        <div class="child-item child-item-extruder" *ngFor="let item of extruderList.controls; let i=index"
                            [formGroupName]="i">
                            <h2 class="extruderDetail mat-elevation-z2">Extruder Detail - {{i}}</h2>
                         
                            <div class="child-container-detail">
                                <mat-form-field class="small-control">
                                    <mat-label>Color</mat-label>
                                    <mat-select formControlName="extruderColorId" required>
                                        <mat-option *ngFor="let color of extruderColorList"
                                            value="{{color.id}}">{{color.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control">
                                    <mat-label>Width</mat-label>
                                    <mat-select formControlName="extruderWidthId" required>
                                        <mat-option *ngFor="let width of widthList"
                                            value="{{width.id}}">{{width.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control smaller-control" appearance="fill">
                                    <mat-label>Length used</mat-label>
                                    <input formControlName="extruderLength" type="number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength = "5" min="0" max="999999" matInput
                                        placeholder="Length used" required>
                                   
                                </mat-form-field>
                                <mat-form-field class="small-control smaller-control" appearance="fill">
                                    <mat-label>Weight</mat-label>
                                    <input formControlName="extruderWeight" type="number" min="0" max="999999" readonly matInput
                                        placeholder="Weight">                                    
                                </mat-form-field>
                                <mat-form-field class="small-control" appearance="fill">
                                    <mat-label>Winder No.</mat-label>
                                    <mat-select formControlName="extruderWinderNumber" required>
                                        <mat-option *ngFor="let number of  winderNumberList"
                                            value="{{number}}">{{number}}</mat-option>
                                    </mat-select>                                   
                                </mat-form-field>
                                <button mat-mini-fab type="button" color="accent" matTooltip="Fetch Extruder Roll Number"
                                    (click)="fetchExtruderRollNumber(i)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-form-field class="smallest-control">
                                    <mat-label>Roll Number</mat-label>
                                    <input matInput formControlName="extruderRollNumber" value="2" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="child-container-extruder child-container-crossply-color">
                    <ng-container formArrayName="crossplyList">
                        <div class="child-item child-item-crossply" *ngFor="let item of crossplyList.controls; let i=index"
                            [formGroupName]="i">
                            <h2 class="extruderDetail mat-elevation-z2">Crossply Detail - {{i}}</h2>                     
                          
                            <div class="child-container-detail">
                                <mat-form-field class="small-control">
                                    <mat-label>Color</mat-label>
                                    <mat-select formControlName="crossplyColorId" required>
                                        <mat-option *ngFor="let color of crossplyColorList"
                                            value="{{color.id}}">{{color.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control">
                                    <mat-label>Width</mat-label>
                                    <mat-select formControlName="crossplyWidthId" required>
                                        <mat-option *ngFor="let width of widthList"
                                            value="{{width.id}}">{{width.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control smaller-control" appearance="fill">
                                    <mat-label>Length used</mat-label>
                                    <input formControlName="crossplyLength" type="number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength = "5" min="0" max="999999" matInput
                                        placeholder="Length used" required>
                                    
                                </mat-form-field>
                                <mat-form-field class="small-control smaller-control" appearance="fill">
                                    <mat-label>Weight</mat-label>
                                    <input formControlName="crossplyWeight" type="number" min="0" max="999999" matInput
                                        placeholder="Weight">
                                  
                                </mat-form-field>
                                <mat-form-field class="small-control" appearance="fill">
                                    <mat-label>Winder No.</mat-label>
                                    <mat-select formControlName="crossplyWinderNumber" required>
                                        <mat-option *ngFor="let number of  winderNumberList"
                                            value="{{number}}">{{number}}</mat-option>
                                    </mat-select>                                   
                                </mat-form-field>
                                <button mat-mini-fab type="button" color="primary" matTooltip="Fetch Crossply Roll Number"
                                    (click)="fetchCrossplyRollNumber(i)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <mat-form-field class="smallest-control">
                                    <mat-label>Roll Number</mat-label>
                                    <input matInput formControlName="crossplyRollNumber" value="2" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="child-container-extruder child-container-misc-color">
                    <ng-container formArrayName="miscList">
                        <div class="child-item child-item-crossply" *ngFor="let item of miscList.controls; let i=index"
                            [formGroupName]="i">
                            <h2 class="extruderDetail mat-elevation-z2">Misc Detail - {{i}}</h2>                     
                          
                            <div class="child-container-detail">
                                <mat-form-field class="small-control">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="miscTypeId" required>
                                        <mat-option value="EXT">Extruder</mat-option>
                                        <mat-option value="XPLY">Crossply</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control">
                                    <mat-label>Color</mat-label>
                                    <mat-select formControlName="miscColorId" required>
                                        <mat-option *ngFor="let color of crossplyColorList"
                                            value="{{color.id}}">{{color.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control">
                                    <mat-label>Width</mat-label>
                                    <mat-select formControlName="miscWidthId" required>
                                        <mat-option *ngFor="let width of widthList"
                                            value="{{width.id}}">{{width.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="small-control smaller-control" appearance="fill">
                                    <mat-label>Length used</mat-label>
                                    <input formControlName="miscLength" type="number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    maxlength = "5" min="0" max="999999" matInput
                                        placeholder="Length used" required>                                    
                                </mat-form-field>
                               
                                <mat-form-field class="small-control" appearance="fill">
                                    <mat-label>Winder No.</mat-label>
                                    <mat-select formControlName="miscWinderNumber" required>
                                        <mat-option *ngFor="let number of  winderNumberList"
                                            value="{{number}}">{{number}}</mat-option>
                                    </mat-select>                                   
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="show-error" *ngIf="formHasErrors">
                    <div class="error-container">
                        <h2>The form has <span class="error-style">errors.</span> Please <span
                                class="error-style">fix</span> these errors before resubmitting.</h2>
                        <h3>Summary of Errors</h3>
                        @for(error of errorList; track error){
                        <p>{{error}}</p>
                        }
                    </div>
                </div>
                <div class="action-button-container">
                    <!-- <p>{{this.addLaminationFormGroup.value |json}}</p>
                    <p>Valid {{this.addLaminationFormGroup.valid}}</p> -->
                    <button type="reset" mat-raised-button (click)="clearForm()">Clear Form</button>
                    <button type="submit" class="submitButton" color="warn" [disabled]="!addLaminationFormGroup.valid"
                        mat-raised-button>Save Lamination</button>
                </div>
            </form>
        </div>
    </div>   
</div>