.add-lamination-parent-container {
    display: flex;
    justify-content: center;
}
.add-lamination-container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    max-width: 800px;
    width: 800px;
    min-width:500px;
    border: solid 1px red;
}
.lamination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lamination-comment-container{
    margin-left: 1rem;
    width: 80%;
    padding-left: 1rem;    
}
.laminationComment {
    width: 100%;
}
.add-extruder-crossply-buttons{
    display: flex;
    width: 100%;
    border: solid 2px gray;
    justify-content: space-around;    
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.child-container-extruder {
    border: solid 1px gray;
    background-color: lightcyan;
}
.child-container-crossply{
    border: solid 1px gray;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.child-item{
    margin-bottom: 1rem;
}
.child-container-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left:1rem;    
    border-bottom: solid 1px gray;
}
.child-container-detail{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;  
    margin-top:1rem;  
    border-bottom: solid 1px gray;
}
.child-container-detail > .crossply-field-small {   
    max-width: 160px;    
}
// .child-container-detail>.mat-mdc-form-field{
//     max-width: 160px;
// }
.child-container-detail > .add-crossply-btn{
    margin-top:0.8rem;
}
.child-container-detail > .extruder-roll-number{
    max-width: 100px;
}


.extruderList-container{
    display: flex;
    border: solid 1px red;
}
.error-container {
    margin-left: 1rem;
    margin-top: 1rem;    
    max-width: 800px;
}
.error-container>h3 {
    font-size: large;
    background-color: lightgoldenrodyellow;

}
.error-container >p:nth-child(2n){
    background-color: lightcyan;
}
.button-container {
    padding-top:1rem;
    padding-bottom: 1rem;
}
.button-container > button{
    margin-left: 1rem;
}