.add-lamination-parent-container {
    display: flex;
    justify-content: center;
}
.add-lamination-container{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    max-width: 800px;
    width: 800px;
    min-width:500px;
    background-color:#e3f3e3;
}
.lamination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lamination-comment-container{
    margin-left: 1rem;
    width: 80%;
    padding-left: 1rem;    
}
.laminationComment {
    width: 100%;
}
.add-extruder-crossply-buttons{
    display: flex;
    width: 100%;  
    justify-content: space-around;    
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #F3E3F3;
}
.child-container-extruder {   
    background-color: lightcyan;
}
.child-container-crossply{   
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.child-item{
    margin-bottom: 0.1rem;   
}
.child-item-extruder {
    background-color: #006a6a;
    color: #fff;
}
.child-item-crossply {
    background-color: #EAFFFF;
   
}
.child-container-header {
    display: flex;
    padding-top:0.4rem;   
    padding-left:1rem;   
}
.child-container-detail{
    display: flex;
    flex-wrap: nowrap;     
    margin-top:1rem;  
    justify-content: space-around;    
}
.crossply-field-small {   
    width: 15%;       
}
.crossply-field-medium{
    width: 16%;
}
.child-container-detail > .add-crossply-btn{
    margin-top:0.8rem;
    width: 15%;
}


.error-container {
    margin-left: 1rem;
    margin-top: 1rem;    
    max-width: 800px;
}
.error-container>h3 {
    font-size: large;
    background-color: lightgoldenrodyellow;

}
.error-container >p:nth-child(2n){
    background-color: lightcyan;
}
.button-container {
    padding-top:1rem;
    padding-bottom: 1rem;
}
.button-container > button{
    margin-left: 1rem;
}