<mat-toolbar color="primary">
    <span>{{applicationTitle}}</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu">Dashboard</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Reports</button>
        <button mat-menu-item>Main Dashboard</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="crossPlyMenu">Crossply</button>
    <mat-menu #crossPlyMenu="matMenu" xPosition="before">
        <button (click)="OnClick($event)" mat-menu-item><mat-icon>add_circle</mat-icon>Add Crossply</button>
        <button mat-menu-item><mat-icon>favorite</mat-icon>Reports</button>
    </mat-menu>
    <button mat-icon-button class="example-icon" aria-label="Example button share"><mat-icon>share</mat-icon></button>
</mat-toolbar>