<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="crossplyDetailId">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> No. </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.crossplyDetailId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="colorZeroColor">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorZeroColor}} </td>
    </ng-container>
  
    <ng-container matColumnDef="colorZeroWidth">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 Width </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorZeroWidth}} </td>
    </ng-container>
  
    <ng-container matColumnDef="colorZeroRollNumber">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 RollNumber </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorZeroRollNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="colorZeroLength">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 Length </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorZeroWidth}} </td>
      </ng-container>
    
      <ng-container matColumnDef="colorZeroWeight">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 Weight </th>
        <td class="extruder-detail-rowStyle"  mat-cell *matCellDef="let element"> {{element.colorZeroWeight}} </td>
      </ng-container>
  
      <ng-container matColumnDef="colorNinetyColor">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorNinetyColor}} </td>
      </ng-container>
    
      <ng-container matColumnDef="colorNinetyWidth">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 Width </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorNinetyWidth}} </td>
      </ng-container>
    
      <ng-container matColumnDef="colorNinetyRollNumber">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 RollNumber </th>
        <td   class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorNinetyRollNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="colorNinetyLength">
          <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 Length </th>
          <td   class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorNinetyWidth}} </td>
        </ng-container>
      
        <ng-container matColumnDef="colorNinetyWeight">
          <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 Weight </th>
          <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorNinetyWeight}} </td>
        </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  