<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="crossplyDetailId">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> No. </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.crossplyDetailId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="crossplyId">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Crossply Id </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.crossplyId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="detailColorName">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.detailColorName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="detailWidthName">
      <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Width </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.detailWidthName}} </td>
    </ng-container>

    <ng-container matColumnDef="detailRollNumber">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Roll Number </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.detailRollNumber}} </td>
      </ng-container>
    
      <ng-container matColumnDef="detailLength">
        <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Length </th>
        <td class="extruder-detail-rowStyle"  mat-cell *matCellDef="let element"> {{element.detailLength}} </td>
      </ng-container>
  
      <ng-container matColumnDef="detailWeight">
          <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Weight </th>
          <td   class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.detailWeight}} </td>
        </ng-container>

        <ng-container matColumnDef="isColorZero">
          <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #0 </th>
          <td   class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.isColorZero}} </td>
        </ng-container>

        <ng-container matColumnDef="isColorNinety">
          <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color #90 </th>
          <td   class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.isColorNinety}} </td>
        </ng-container>
      
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  