.detail-container{
    width: 100%;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.headerStyle{
    padding-top:1rem;
}

.myHeaderStyle {
    background-color: orange;
    background-color: #F9F871;
    background-color: #F2FEDC;
    padding-top:1rem;   
    width:fit-content;
    padding-left:1rem;
    font-size: large;
}

.myHeaderStyle:last-child{
    width:600px;
    max-width:600px;
}

.myRowStyle{
    padding-top:1rem;
}