.extruder-detail-container{   
    margin-top:1rem;
    margin-bottom: 1rem;
}

.extruder-detail-headerStyle {   
    background-color: #F2FEDC;
    padding-top: 1rem;   
    width:fit-content;
    padding-left:1rem;
    font-size: large;
}

.extruder-detail-headerStyle:last-child{
    width:600px;
    max-width:600px;
}

.extruder-detail-rowStyle{
    padding-top:1rem;
}