.add-extruder{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;  
   justify-content: center;
}
.parent-card {
    width: 800px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.extruder-form{
    padding: 1rem;
}
.example-full-width{    
    width: 70%;
    padding: 1rem;
}
textarea {
    width:100%;
}
.add-extruder-button-container {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 200px;
}
.extruder-add-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;  
    justify-content: center;
    background-color: #FCFAEA;
}