.add-extruder{
    min-width: 150px;
    max-width: 500px;
    width: 600px;
    display: flex;
}
.extruder-form {
    min-width: 150px;
    max-width: 500px;
    width:400px;
}

.parent-card {
    margin-left: 200px;
}
.mat-mdc-form-field {
    display:block;
}
::ng-deep .mat-form-field {
    display: block;
    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }
}