.my-container {
    padding: 0.4rem;
    border: solid 1px red;
    width: 401px;
    background-color: darkorange;
  }
  .parent-container{  
    width: 400px;
    background-color: orange;
    border-radius: 15px;  
  }
  .month-container{
    background-color: green;
    min-height: 3rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .days-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lavender;
    min-height: 2rem;
  }
  .day-item{
    padding-top:0.4rem; 
    border-right: solid 1px gray;
    flex: 1 0 11%;
  }
  .day-item:nth-child(7){
    padding-top:0.4rem; 
   // padding-right: 0.4rem;
  }
  .date-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .date-item{
    padding-left:0.5rem;  
    //min-width:55px;
    background-color: yellowgreen;
    flex: 1 0 11%;
    border: solid 1px red; 
  }