<div class="extruder-summary-container">
    <div class="extruder-summary-header">
      <h1 class="extruder-summary-header-text">Extruder Data</h1>
      <div class="extruder-summary-button-container">
        <button mat-mini-fab color="primary" aria-label="Add Extruder">
          <mat-icon>add</mat-icon>
        </button>    
        <button mat-mini-fab color="accent" (click)="changeColor()" aria-label="Switch Table Header Color">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Download(CSV)">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <div>
        <table mat-table #extruderDetailTable [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- rollnumber Column -->
            <ng-container matColumnDef="rollnumber">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Roll No. </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.rollnumber}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>
        
            <!-- name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Location </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
             <!-- colorname Column -->
             <ng-container matColumnDef="colorname">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Color </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.colorname}} </td>
            </ng-container>
        
            <!-- widthname Column -->
            <ng-container matColumnDef="widthname">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Width </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.widthname}} </td>
            </ng-container>
        
             <!-- length Column -->
             <ng-container matColumnDef="length">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Length </th>
              <td  class="extruder-detail-rowStyle"  mat-cell *matCellDef="let element"> {{element.length}} </td>
            </ng-container>
        
             <!-- weight Column -->
             <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Weight </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
        
             <!-- fullname Column -->
             <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Created By </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>
        
             <!-- createdDate Column -->
             <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Date Created </th>
              <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>
        
            <!-- widthname Column -->
            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef class="extruder-detail-headerStyle"> Comment </th>
              <td  class="extruder-detail-rowStyle"  mat-cell *matCellDef="let element"> {{element.comment}} </td>
            </ng-container>
            
           
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr  mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
    </div>
  </div>