<div class="parent-flex-center-child">
    <div class="add-crossply-container">
        <h1 class="add-crossply-header">Add Crossply</h1>
        <form [formGroup]="addCrossplyFormGroup" (reset)="onReset($event)" (ngSubmit)="onSubmit($event)">
        <div class="crossply-container">
          <mat-form-field appearance="fill">
            <mat-label>Choose Location</mat-label>
            <mat-select formControlName="crossplyLocationId" placeholder="Select Crossply location" required>
                <mat-option *ngFor="let location of crossplyLocationList" value="{{location.id}}">{{location.name}}</mat-option>
               
            </mat-select>                 
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose Color</mat-label>
            <mat-select formControlName="crossplyColorId" required>
                <mat-option *ngFor="let color of crossplyColorList" value="{{color.id}}">{{color.name}}</mat-option>
               
            </mat-select>      
            @if (crossplyColorIdControl.hasError('required')){
                <mat-error>Please choose Crossply Color</mat-error>
            }                    
          </mat-form-field>  
          <mat-form-field>
            <mat-label>Choose Width</mat-label>
            <mat-select #crossplyWidth formControlName="crossplyWidthId" required>
                <mat-option *ngFor="let width of widthList" value="{{width.id}}">{{width.name}}</mat-option>
               
            </mat-select>  
            @if (!addCrossplyFormGroup.get('crossplyWidthId')?.valid){
                <mat-error>Please choose Crossply Width</mat-error>
            }               
          </mat-form-field> 
          <mat-form-field class="extruder-form" appearance="fill">
            <mat-label>Roll Number</mat-label>
            <input formControlName="crossplyRollNumber" matInput placeholder="Roll Number">
            <mat-hint>Existing Roll Number</mat-hint>
        </mat-form-field>
        <mat-form-field class="extruder-form" appearance="fill">
            <mat-label>Enter Length</mat-label>
            <input formControlName="crossplyLength" type="number" min="0" max="999999" matInput
                placeholder="Length" required>
            <mat-hint>Length in number ex: 322</mat-hint>
        </mat-form-field>
        <mat-form-field class="extruder-form" appearance="fill">
            <mat-label>Enter Weight</mat-label>
            <input formControlName="crossplyWeight" type="number" min="0" max="999999" matInput
                placeholder="Weight" required>
            <mat-hint>Weight in number ex: 200</mat-hint>
        </mat-form-field>
    </div>    
        <div class="crossply-submit-createdBy">
            <mat-form-field class="crossplySubmittedBy">
                <mat-label>Submitted By</mat-label>
                <mat-select formControlName="crossplyCreatedById" required>
                    <mat-option *ngFor="let user of userList"  value={{user.id}}>{{user.email}} - {{user.firstname}} {{user.lastname}}</mat-option>
                   
                </mat-select>
              </mat-form-field>  
            <mat-form-field class="crossplyComment">
                <mat-label>Leave a comment</mat-label>
                <textarea #comments rows="2" formControlName="crossplyComment" matInput placeholder="..."></textarea>
                <mat-hint align="end">{{comments.value.length}}/500</mat-hint>
            </mat-form-field>           
        </div>
        <div class="extruder-container">            
            <div class="colorzeroninety-container">
                <h2 class="add-crossply-header">Color #0 Details</h2>
                <div class="colorzero-color-width">
                    <mat-form-field class="crossply-field-small">
                        <mat-label>Choose Color</mat-label>
                        <mat-select #colorZeroColor formControlName="colorZeroColorId" required>
                            <mat-option *ngFor="let color of extruderColorList" value="{{color.id}}">{{color.name}}</mat-option>
                           
                        </mat-select>                 
                      </mat-form-field>  
                      <mat-form-field class="crossply-field-small">
                        <mat-label>Choose Width</mat-label>
                        <mat-select #colorZeroWidth formControlName="colorZeroWidthId" required>
                            <mat-option *ngFor="let width of widthList" value="{{width.id}}">{{width.name}}</mat-option>
                            
                        </mat-select>                 
                      </mat-form-field> 
                </div>                
                  <button class="add-crossply-btn" mat-raised-button (click)="fetchRollNumberColorZero()"><mat-icon class="iconStyle">add_circle</mat-icon>Fetch Roll Number Color #0</button>
                  <mat-form-field class="crossply-roll-number">
                    <mat-label>Color #0 Selected Roll Number</mat-label>
                    <input matInput formControlName="colorZeroRollNumber" value="" readonly>
                  </mat-form-field>        
                </div>
            <div class="colorzeroninety-container">
                <h2 class="add-crossply-header">Color #90 Details</h2>  
                <div class="colorzero-color-width">
                    <mat-form-field class="crossply-field-small">
                        <mat-label>Choose Color</mat-label>
                        <mat-select #colorNinetyColor formControlName="colorNinetyColorId" required>
                            <mat-option *ngFor="let color of extruderColorList" value="{{color.id}}">{{color.name}}</mat-option>
                           
                        </mat-select>                 
                      </mat-form-field>  
                      <mat-form-field class="crossply-field-small">
                        <mat-label>Choose Width</mat-label>
                        <mat-select #colorNinetyWidth formControlName="colorNinetyWidthId" required>
                            <mat-option *ngFor="let width of widthList" value="{{width.id}}">{{width.name}}</mat-option>
                        </mat-select>                 
                      </mat-form-field> 
                </div>             
               
                  <button class="add-crossply-btn" mat-raised-button color="accent" (click)="fetchRollNumberColorNinety()"><mat-icon class="iconStyle">add_circle</mat-icon>Fetch Roll Number Color #90</button>
                  <mat-form-field class="crossply-roll-number">
                    <mat-label>Color #90 Selected Roll Number</mat-label>
                    <input matInput formControlName="colorNinetyRollNumber" value="" readonly>
                  </mat-form-field>                 
            </div>
        </div>
        <div class="error-message-container" *ngIf="formContainsValidationError">
            <h2 class="errormessage">Form is Invalid (fix form errors before submitting)</h2>           
            @for(item of errorMessageList; track item){
                <p class="error-item">{{item}}</p>
            }
        </div>
        <div class="crossply-buttons-container">    
            <button type="reset" [disabled]="addCrossplyFormGroup.pristine" mat-raised-button>Clear</button>
            <button class="btn-submit-style" mat-raised-button color="accent" type="submit">Add Crossply</button>
        </div>
        </form>
    </div>
</div>
