.extruder-report-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    min-height: 80vh;
    background-color: #324B4A;
}
.card-style {
   margin-top: 0.8rem;
   max-width: 500px;
   min-width: 400px;
   min-height: 480px;
}
.card-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.card-parent-title {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}
.header-row{
    font-size:large;
    background-color: #7F176B;
    color:#fff;
}
.header-style {
    padding-top: 1rem;
}
.btn-toggle-group{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 1rem;  
    padding-top: 10px;
    max-width: 500px;
    min-width: 400px;
}
.btn-toggle-class {
    flex-grow:1;
}
.card-content{
    margin-bottom: 10px;
    background-color: whitesmoke;
}