.myoverflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 10px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 16px 0 16px;
    padding-top: 1rem;
}