.imagecover {
    /* The image used */
    background-image: url("../../../assets/img/404_page.jpg");
  
    /* Full height */
    height: 80%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
  }
  .centerButton {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .mat-icon{
    font-size:192px !important; //make it bigger, the default being 24px. 
    width:192px;                //Do not forget to adjust the 
    height:192px;      
    opacity: 1;         //height and/or the width, as in the demo

}