<div>
  <app-banner-buttons [headerText]="headerText" [showButtons]="showTable$" [headerTypePassed]="headerTypePassed"
    (colorSelected)="OnColorSelected($event)" (buttonSelected)="onButtonToggleSelected($event)"></app-banner-buttons>
  <div *ngIf="showTable$">
    <div *ngIf="showDetail">
      <app-display-lamination [headerColor]="headerColor"></app-display-lamination>
    </div>
    <div *ngIf="showMenu">
      <app-lamination-detail [headerColor]="headerColor"></app-lamination-detail>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>