<div class="extruder-detail-container">

</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="laminationDetailId">
      <th class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> No. </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.laminationDetailId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="isExtruder">
      <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Is Extruder </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.isExtruder}} </td>
    </ng-container>
  
    <ng-container matColumnDef="isCrossply">
      <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Is Crossply </th>
      <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.isCrossply}} </td>
    </ng-container>    

    <ng-container matColumnDef="laminationDetailColor">
        <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Color </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.laminationDetailColor}} </td>
      </ng-container>

      <ng-container matColumnDef="laminationDetailWidth">
        <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Width </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.laminationDetailWidth}} </td>
      </ng-container>
    
      <ng-container matColumnDef="laminationDetailLength">
        <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Length </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.laminationDetailLength}} </td>
      </ng-container>
  
      <ng-container matColumnDef="laminationDetailWeight">
        <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Weight </th>
        <td  class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.laminationDetailWeight}} </td>
      </ng-container>
    
      <ng-container matColumnDef="referenceNumber">
        <th  class="extruder-detail-headerStyle" mat-header-cell *matHeaderCellDef> Reference Number </th>
        <td class="extruder-detail-rowStyle" mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
      </ng-container>
    
     
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  