<div class="banner-button-container">
    <h1 class="button-container-headerText">{{headerText}}</h1>
    <div class="button-container">
        <div class="grid-button-container" *ngIf="showButtons">
            <mat-button-toggle-group class="button-container" (change)="changeView($event)">
                <mat-button-toggle class="first-button"  value="menu"><mat-icon>menu</mat-icon> List</mat-button-toggle>
                <mat-button-toggle class="second-button"  value="detail"> <mat-icon>filter_list</mat-icon>
                  Condensed</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
        <div class="common-button-container" *ngIf="showButtons">
            <button mat-mini-fab color="primary" (click)="takeMeToAdd()" aria-label="Add">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="changeColor()" aria-label="Switch Table Header Color">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="downloadFile()" aria-label="Download(CSV)">
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </div>    
</div>